.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px; 
}
  
.card {
    width: calc(20% - 20px);
    margin: 10px; 
    box-sizing: border-box;
}
  